<nav class="navbar">
  <div id="hamburger-container">
    <a id="navbar-item-hamburger-icon">
      <img id="hamburger-icon" src="assets/images/hamburger-icon.png">
    </a>
  </div>
  <div id="bustle-logo-container">
    <a href="#"><img id="bustle-logo" src="assets/images/bustle-logo.svg"></a>
  </div>
  <a id="navbar-item-facebook-logo" class="navbar-media-logos">
    <img id="facebook-logo" src="assets/images/facebook-logo.png">
  </a>
  <a class="navbar-item-twitter-logo" class="navbar-media-logos">
    <img id="twitter-logo" src="assets/images/twitter-logo.png">
  </a>
  <a class="navbar-item-pinterest-logo" class="navbar-media-logos">
    <img id="pinterest-logo" src="assets/images/pinterest-logo.png">
  </a>
  <a class="navbar-item-instagram-logo" class="navbar-media-logos">
    <img id="instagram-logo" src="assets/images/instagram-logo.png">
  </a>
  <a class="navbar-item-youtube-logo" class="navbar-media-logos">
    <img id="youtube-logo" src="assets/images/youtube-logo.png">
  </a>
  <a class="navbar-item-podcast-logo" class="navbar-media-logos">
    <img id="podcast-logo" src="assets/images/podcast-logo.png">
  </a>
  <a id="navbar-item-search-icon" class="navbar-media-logos">
    <img id="search-icon" src="assets/images/search-icon.png">
  </a>

  <a id="navbar-item-usa-uk-logo">
    <img id="usa-logo" src="assets/images/usa-logo.png">
  </a>
  <a id="navbar-item-usa-uk-logo">
    <img id="uk-logo" src="assets/images/uk-logo.png">
  </a>
</nav>
