.navbar {
  margin: none;
  min-height: 11vh;
  background-color: white;
  border-bottom: 1px solid rgba(50,50,50,.1);
}

#hamburger-icon {
  max-height: 6vh;
}

#bustle-logo {
  max-height: 7vh;

}

#facebook-logo, #twitter-logo, #pinterest-logo, #instagram-logo, #youtube-logo, #podcast-logo {
  max-height: 5vh;
}

#search-icon {
  max-height: 6vh;
}

#usa-logo, #uk-logo {
  max-height: 5vh;
}
