.navbar {
  margin: none;
  height: 60px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  /* background-color: white; */
  /* border-bottom: 1px solid rgba(50,50,50,.1); */
  /* display: flex; */
  border-bottom: 1px solid rgba(50,50,50,.1);
  /* align-items: center; */
}

.nav-bar-items-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin: 0, 40%, 0, 10%; */
  width: 60%;
  background-color: white;

}

#hamburger-container {
  display: flex;
  margin-left: 0;
}

#hamburger-icon {
  max-height: 33px;
}

#bustle-logo-container {
  margin: auto;
}

#bustle-logo {
  max-height: 40px;
  width: 100px;
}


#facebook-logo, #twitter-logo, #pinterest-logo, #instagram-logo, #youtube-logo, #podcast-logo {
  max-height: 25px;
  opacity: 0.3;
}

#navbar-item-facebook-logo {
  margin-left: 10%;
}

#navbar-item-search-icon {
  margin-left: 5%;
}

.navbar-media-logos {
  margin-left: 1%;
}

#search-icon {
  max-height: 25px;
}

#usa-logo, #uk-logo {
  max-height: 25px;
}

#navbar-item-usa-uk-logo {
  margin-left: 2%;
}
